@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;600;700&display=swap");

:root {
  font-size: 16px;
  font-family: "Open Sans";

  --line-secondary: #{rgba(0, 0, 0, 0.1)};

  --main-highlight-color: #305aff;
  --main-unhighlight-color: #fcdf35;

  --main-bg: #ffffff;

  --main-text-primary: #33353d;
  --main-text-secondary: #2d2f38;

  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;

  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;

  --footer-bg: #333;

  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6649b9;
  }
}

main {
  padding: 1rem;
  margin-left: 5rem;
}

.dark {
  // nav
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;

  --nav-bg-primary: #1f1f29;
  --nav-bg-secondary: #141418;

  // main
  --main-bg: #23232e;

  --main-text-primary: #b6b6b6;
  --main-text-secondary: #ececec;

  --main-highlight-color: #30bcd5;
  --main-unhighlight-color: #fcdf35;

  // line
  --line-secondary: #383842;

  .navbar:hover {
    border-right: 0;
  }
}

.light {
  --nav-text-primary: #1f1f1f;
  --nav-text-secondary: #000000;

  --nav-bg-primary: #ffffff;
  --nav-bg-secondary: #e4e4e4;
}

/* COMMON */
.d {
  &-none {
    display: none;
  }
}
