.icon {
  &__container {
    display: block;

    padding-left: 0;
  }

  &__item {
    font-size: 3rem;
    list-style: none;
    &--inline {
      display: inline;
    }
    i {
      &:hover {
        color: var(--main-unhighlight-color) !important;
      }
    }
  }
}

/* Small screen */
@media all and (max-width: 600px) {
}

/* Large screen */
@media all and (min-width: 600px) {
}
