.link {
  &--text {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
  &--colored {
    color: var(--main-text-color);
  }

  &--colored,
  &:visited {
    color: var(--main-text-color);
  }
}
