.link {
  &--text {
    text-decoration: none;
    color: var(--main-text-color);
    &:visited {
      color: inherit;
    }
  }
  &--colored {
    color: var(--main-text-color);
  }

  &--colored:visited {
    color: var(--main-highlight-color);
  }
}
