.popup {
  max-width: 60vw;
  max-height: 70vh;

  top: 10px;
  position: fixed;
  left: calc(16rem + 10px);

  padding: 1rem;

  background-color: #fff;

  border: thin double var(--line-secondary);

  overflow-y: scroll;

  &__content {
    &__avatar {
      margin-right: 1rem;

      border-radius: 50%;

      width: 6rem;
      height: 6rem;

      background-size: cover;
      background-position: 50%;
      background-image: var(--bg);
    }
  }

  &--flex {
    &-v {
      display: flex;
      flex-direction: row;
    }
    &__item {
      &--inline {
        display: inline-block;
      }
    }
  }

  &__btn-close {
    font-size: 1.2rem;
    color: var(--main-text-secondary);
    cursor: pointer;
  }

  &__btn-open {
    cursor: pointer;
    border-radius: 50%;

    top: auto;
    left: auto;
    right: 2rem;
    bottom: 2rem;

    width: 1rem;
    height: 1rem;

    text-align: center;
    line-height: 1rem;

    color: var(--main-bg);
    background-color: var(--main-text-secondary);

    border: none;

    &__describe {
      padding: 0.5rem;

      display: block;
      position: fixed;
      background-color: var(--nav-text-secondary);

      border-radius: 5px;

      right: 5.5rem;
      bottom: 2.5rem;

      transition: transform 2s;
    }

    // box-shadow: 0 0 20px -10px var(--main-text-primary);
  }

  &--card {
    border: none;
    max-width: 80vw;
    background-color: var(--nav-bg-primary);

    left: 50%;
    top: 20%;

    padding: 1rem 2rem;

    transform: translate(-50%, -20%);

    box-shadow: 0 0 20px -10px var(--main-text-primary);
  }
}

/* Small screen */
@media screen and (max-width: 600px) {
  .popup {
    &--card {
      left: 50%;
      top: 40%;

      transform: translate(-50%, -40%);
    }
    &__btn-open {
      top: 2rem;
      right: 2rem;
      left: auto;
      bottom: auto;

      &__describe {
        right: 5.5rem;
        top: 2.5rem;
        bottom: auto;
      }
    }
  }
}
