@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;600;700&display=swap");
:root {
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari */
  color-adjust: exact !important;
  /*Firefox*/
  font-size: 16px;
  font-family: "Open Sans";
  --line-secondary: rgba(0, 0, 0, 0.1);
  --main-highlight-color: #305aff;
  --main-unhighlight-color: #fcdf35;
  --main-bg: #ffffff;
  --main-text-primary: #33353d;
  --main-text-secondary: #2d2f38;
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --footer-bg: #333;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background-color: #6649b9;
}

main {
  padding: 1rem;
  margin-left: 5rem;
}

.dark {
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #1f1f29;
  --nav-bg-secondary: #141418;
  --main-bg: #23232e;
  --main-text-primary: #b6b6b6;
  --main-text-secondary: #ececec;
  --main-highlight-color: #30bcd5;
  --main-unhighlight-color: #fcdf35;
  --line-secondary: #383842;
}
.dark .navbar:hover {
  border-right: 0;
}

.light {
  --nav-text-primary: #1f1f1f;
  --nav-text-secondary: #000000;
  --nav-bg-primary: #ffffff;
  --nav-bg-secondary: #e4e4e4;
}

/* COMMON */
.d-none {
  display: none;
}

@media only print {
  nav {
    display: none !important;
  }

  #basicInfo.d-none {
    display: block !important;
    position: initial;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    transform: none;
    box-shadow: none;
  }

  .popup__btn-open {
    display: none !important;
  }
}
.d-none {
  display: none !important;
}

.slide-right {
  transform: translateX(calc(100% + 500px));
}

.slide-up > * {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}
.slide-up--show > * {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.list {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-secondary);
}
.list__item {
  list-style: none;
}
.list__container--no-p {
  padding: 0 !important;
}

.link--text {
  text-decoration: none;
  color: var(--main-text-color);
}
.link--text:visited {
  color: inherit;
}
.link--colored {
  color: var(--main-text-color);
}
.link--colored:visited {
  color: var(--main-highlight-color);
}

.icon__container {
  display: block;
  padding-left: 0;
}
.icon__container--h .icon__item {
  display: inline-block;
  margin-right: 0.3rem;
}
.icon__item {
  font-size: 3rem;
  list-style: none;
}
.icon__item--inline {
  display: inline;
}
.icon__item i:hover {
  color: var(--main-unhighlight-color) !important;
}
.icon--dynamic-color {
  color: var(--main-text-primary);
}

/* Small screen */
/* Large screen */
.text {
  font-size: 1.2rem;
  color: var(--main-text-secondary);
  font-family: "Open Sans", sans-serif;
}
.text--icon-inside i {
  display: inline-block;
  width: 1rem;
  margin-right: 4px;
}
.text--group .text {
  margin: 0.5rem auto;
}
.text--small {
  font-size: 1rem;
}

.popup {
  max-width: 60vw;
  max-height: 70vh;
  top: 10px;
  position: fixed;
  left: calc(16rem + 10px);
  padding: 1rem;
  background-color: #fff;
  border: thin double var(--line-secondary);
  overflow-y: scroll;
}
.popup__content__avatar {
  margin-right: 1rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background-size: cover;
  background-position: 50%;
  background-image: var(--bg);
}
.popup--flex-v {
  display: flex;
  flex-direction: row;
}
.popup--flex__item--inline {
  display: inline-block;
}
.popup__btn-close {
  font-size: 1.2rem;
  color: var(--main-text-secondary);
  cursor: pointer;
}
.popup__btn-open {
  cursor: pointer;
  border-radius: 50%;
  top: auto;
  left: auto;
  right: 2rem;
  bottom: 2rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  color: var(--main-bg);
  background-color: var(--main-text-secondary);
  border: none;
}
.popup__btn-open__describe {
  padding: 0.5rem;
  display: block;
  position: fixed;
  background-color: var(--nav-text-secondary);
  border-radius: 5px;
  right: 5.5rem;
  bottom: 2.5rem;
  transition: transform 2s;
}
.popup--card {
  border: none;
  max-width: 80vw;
  background-color: var(--nav-bg-primary);
  left: 50%;
  top: 20%;
  padding: 1rem 2rem;
  transform: translate(-50%, -20%);
  box-shadow: 0 0 20px -10px var(--main-text-primary);
}

/* Small screen */
@media screen and (max-width: 600px) {
  .popup--card {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  .popup__btn-open {
    top: 2rem;
    right: 2rem;
    left: auto;
    bottom: auto;
  }
  .popup__btn-open__describe {
    right: 5.5rem;
    top: 2.5rem;
    bottom: auto;
  }
}
.heading {
  text-transform: uppercase;
  color: var(--main-text-primary);
  font-family: "Saira Extra Condensed", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
}
.heading--small {
  margin-top: 0rem;
  font-size: 2.5rem;
}
.heading--big {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--main-text-primary);
}
.heading--no-sub {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.heading--link-inside {
  color: var(--main-highlight-color);
}
.heading--link-inside a {
  color: var(--main-highlight-color);
  cursor: pointer;
  text-decoration: none;
}
.heading--link-inside a:visited {
  color: var(--main-highlight-color);
}
.heading--link-inside a:hover {
  text-decoration: underline;
  color: var(--main-unhighlight-color);
}

.subheading {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-text-secondary);
  font-family: "Saira Extra Condensed", sans-serif;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.subheading--small {
  font-size: 1.5rem;
  font-weight: 400;
}
.subheading--no-sub {
  margin-bottom: 2rem;
}

.navbar {
  z-index: 99;
  position: fixed;
  background-color: var(--nav-bg-primary);
}
.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-item.active {
  border-left: thick solid var(--main-highlight-color);
}
.nav-item.active .nav-link {
  filter: grayscale(0%);
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: var(--nav-text-primary);
  transition: all 0s;
  filter: grayscale(100%);
}
.nav-link:hover {
  filter: grayscale(0%);
  color: var(--nav-text-secondary);
  background-color: var(--nav-bg-secondary);
}
.nav-link svg, .nav-link i {
  min-width: 2rem;
  max-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: var(--main-highlight-color);
}
.fa-secondary {
  color: #305aff;
}
.fa-primary, .fa-secondary {
  transition: color var(--transition-speed);
}

.logo {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
}
.logo .arrow {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

/* Small Screen */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }

  .nav-item.active {
    border-left: 0;
    border-bottom: thick solid var(--main-highlight-color);
  }

  .logo {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
/* Large Screen */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    /* Transtions & Effects */
    transition: width 200ms ease;
  }
  .navbar:hover {
    border-right: thin solid var(--line-secondary);
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
}
.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.container {
  padding: 0;
  min-height: 100vh;
  background: var(--main-bg);
}

.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 4rem);
  padding: 2rem 2rem;
  border-bottom: thin solid var(--line-secondary);
}
.resume-section h1#fullname {
  margin-bottom: 0;
}
.resume-section h1#fullname span {
  color: var(--main-highlight-color);
}

.resume-item {
  display: flex;
  flex-direction: row;
}
.resume-content {
  width: 75%;
}
.resume-date {
  width: 25%;
  text-align: center;
  color: var(--main-highlight-color);
}

@media only screen and (max-width: 600px) {
  h1#fullname {
    margin-bottom: 0.5rem !important;
  }

  .resume-item {
    flex-direction: column;
  }
  .resume-content {
    width: 100%;
  }
  .resume-date {
    text-align: left;
    width: 100%;
    margin-top: 0.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
