@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;600;700&display=swap");
/* line 4, ../sass/root.scss */
:root {
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari */
  color-adjust: exact !important;
  /*Firefox*/
  font-size: 16px;
  font-family: "Open Sans";
  --line-secondary: rgba(0, 0, 0, 0.1);
  --main-highlight-color: #305aff;
  --main-unhighlight-color: #fcdf35;
  --main-bg: #ffffff;
  --main-text-primary: #33353d;
  --main-text-secondary: #2d2f38;
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --footer-bg: #333;
  --transition-speed: 600ms;
}

/* line 31, ../sass/root.scss */
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/root.scss */
body::-webkit-scrollbar {
  width: 0.25rem;
}
/* line 42, ../sass/root.scss */
body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}
/* line 45, ../sass/root.scss */
body::-webkit-scrollbar-thumb {
  background-color: #6649b9;
}

/* line 50, ../sass/root.scss */
main {
  padding: 1rem;
  margin-left: 5rem;
}

/* line 55, ../sass/root.scss */
.dark {
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #1f1f29;
  --nav-bg-secondary: #141418;
  --main-bg: #23232e;
  --main-text-primary: #b6b6b6;
  --main-text-secondary: #ececec;
  --main-highlight-color: #30bcd5;
  --main-unhighlight-color: #fcdf35;
  --line-secondary: #383842;
}
/* line 75, ../sass/root.scss */
.dark .navbar:hover {
  border-right: 0;
}

/* line 80, ../sass/root.scss */
.light {
  --nav-text-primary: #1f1f1f;
  --nav-text-secondary: #000000;
  --nav-bg-primary: #ffffff;
  --nav-bg-secondary: #e4e4e4;
}

/* COMMON */
/* line 90, ../sass/root.scss */
.d-none {
  display: none;
}

@media only print {
  /* line 96, ../sass/root.scss */
  nav {
    display: none !important;
  }

  /* line 100, ../sass/root.scss */
  #basicInfo.d-none {
    display: block !important;
    position: initial;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    transform: none;
    box-shadow: none;
  }

  /* line 112, ../sass/root.scss */
  .popup__btn-open {
    display: none !important;
  }
}
