.slide-up {
  & > * {
    opacity: 0;
    visibility: hidden;

    transform: translateY(-30px);

    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
  }

  &--show {
    & > * {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }
}
